{% load static %}
<!--Full width header Start-->
<div class="full-width-header">

  <!-- Toolbar Start -->
  <div class="rs-toolbar">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="rs-toolbar-left">
            <div class="welcome-message">
              <i class="fa fa-bank"></i><span>Welcome to Paradox Academy</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="rs-toolbar-right">
            <div class="toolbar-share-icon">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <a href="#" class="apply-btn">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Toolbar End -->

  <!--Header Start-->
  <header id="rs-header" class="rs-header">

    <!-- Header Top Start -->
    <div class="rs-header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="header-contact">
              <div id="info-details" class="widget-text">
                <i class="glyph-icon flaticon-email"></i>
                <div class="info-text">
                  <a href="mailto:info@domain.com">
                    <span>Mail Us</span>
                    info@paradoxacademy.sc.ke
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="logo-area text-center">
              <a href="index.html"><img src="images/logo.png" alt="logo"></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="header-contact pull-right">
              <div id="phone-details" class="widget-text">
                <i class="glyph-icon flaticon-phone-call"></i>
                <div class="info-text">
                  <a href="tel:0722673089">
                    <span>Call Us</span>
                    +2547 22673089
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header Top End -->

    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
      <div class="container">
        <div class="main-menu">
          <div class="row">
            <div class="col-sm-12">
              <!-- <div id="logo-sticky" class="text-center">
              <a href="index.html"><img src="images/logo.png" alt="logo"></a>
            </div> -->
              <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
              <nav class="rs-menu">
                <ul class="nav-menu">
                  <!-- Home -->
                  <li class="current-menu-item current_page_item menu-item-has-children"> <a href="#"
                      class="home">Home</a>
                    <ul class="sub-menu">
                      <li class="active"><a href="index.html">Home A</a> </li>
                      <li><a href="index3.html">Home B</a> </li>
                      <li><a href="index4.html">Home C</a> </li>
                    </ul>
                  </li>
                  <!-- End Home -->

                  <!--About Menu Start-->
                  <li class="menu-item-has-children"> <a href="#">About Us</a>
                    <ul class="sub-menu">
                      <li> <a href="#"> Our Story</a></li>
                      <li> <a href="#"> Our Approach</a></li>
                      <li> <a href="#"> Careers</a></li>
                      <li> <a href="about.html"> Staff </a></li>
                    </ul>
                  </li>
                  <!--About Menu End-->

                  <!--Courses Menu Start-->
                  <li class="menu-item-has-children"> <a href="#">Programmes</a>

                  </li>
                  <!--Courses Menu End-->

                  <!--Events Menu Start-->
                  <li><a href="#">Events</a></li>
                  <!--Events Menu End-->

                  <!-- Drop Down -->
                  <li class="menu-item-has-children"> <a href="#">Admissions</a>
                    <ul class="sub-menu">
                      <li class="menu-item-has-children"> <a href="#">Join Paradox</a>
                        <ul class="sub-menu">
                          <li> <a href="#">CBC</a> </li>
                          <li> <a href="#">Teachers Single</a> </li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children"> <a href="#">Admission Enquiry</a>
                      </li>
                      <li class="menu-item-has-children"> <a href="#">Uniform List</a>
                      </li>
                    </ul>
                  </li>
                  <!--End Icons -->

                  <!--blog Menu Start-->
                  <li class="menu-item-has-children"> <a href="#">News</a>
                  </li>
                  <!--blog Menu End-->

                  <!--Contact Menu Start-->
                  <li> <a href="contact.html">Contact</a></li>
                  <!--Contact Menu End-->
                </ul>
              </nav>
              <div class="right-bar-icon rs-offcanvas-link text-right">
                <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#"><i
                    class="fa fa-search"></i></a>

                <a id="nav-expander" class="nav-expander fixed"><i class="fa fa-bars fa-lg white"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Menu End -->
  </header>
  <!--Header End-->

</div>
<!--Full width header End-->