{% load static %}
<div id="layoutSidenav_nav">
  <nav class="sidenav shadow-right sidenav-light">
    <div class="sidenav-menu">
      <div class="nav accordion" id="accordionSidenav">
        <div class="sidenav-menu-heading">Core</div>
        <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse"
          data-target="#collapseDashboards" aria-expanded="false" aria-controls="collapseDashboards">
          <div class="nav-link-icon"><i data-feather="activity"></i></div>
          Dashboards
          <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseDashboards" data-parent="#accordionSidenav">
          <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPages">
            <a class="nav-link" href="index.html">
              Admin Dashboard
              <span class="badge badge-primary-soft text-primary ml-auto">Updated</span>
            </a>
            <a class="nav-link" href="home2.html">
              Teacher Dashboard
              <span class="badge badge-primary-soft text-primary ml-auto">Updated</span>
            </a>
            <a class="nav-link" href="home3.html">
              Parents Dashboard
              <span class="badge badge-primary-soft text-primary ml-auto">Updated</span>
            </a>
          </nav>
        </div>
        <div class="sidenav-menu-heading">App Views</div>
        <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapsePages"
          aria-expanded="false" aria-controls="collapsePages">
          <div class="nav-link-icon"><i data-feather="grid"></i></div>
          Students
          <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapsePages" data-parent="#accordionSidenav">
          <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesMenu">
            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse"
              data-target="#pagesCollapseAccount" aria-expanded="false" aria-controls="pagesCollapseAccount">
              Students
              <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseAccount" data-parent="#accordionSidenavPagesMenu">
              <nav class="sidenav-menu-nested nav">
                <a class="nav-link" href="#">
                  All Students
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="#">
                  Add Student
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="#">
                  Admission Form
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="#">
                  Fee Payment
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
              </nav>
            </div>
            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse"
              data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
              Employees
              <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseAuth" data-parent="#accordionSidenavPagesMenu">
              <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavPagesAuth">
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse"
                  data-target="#pagesCollapseAuthBasic" aria-expanded="false" aria-controls="pagesCollapseAuthBasic">
                  Teachers
                  <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuthBasic" data-parent="#accordionSidenavPagesAuth">
                  <nav class="sidenav-menu-nested nav">
                    <a class="nav-link" href="#">All Teachers</a>
                    <a class="nav-link" href="#">Add Teachers</a>
                    <a class="nav-link" href="#">Salary Payments</a>
                    <a class="nav-link" href="#">Leave</a>
                  </nav>
                </div>
                <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse"
                  data-target="#pagesCollapseAuthSocial" aria-expanded="false" aria-controls="pagesCollapseAuthSocial">
                  Drivers
                  <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuthSocial" data-parent="#accordionSidenavPagesAuth">
                  <nav class="sidenav-menu-nested nav">
                    <a class="nav-link" href="#">All Drivers</a>
                    <a class="nav-link" href="#">Salary Payments</a>
                    <a class="nav-link" href="#"> Leave</a>
                  </nav>
                </div>
              </nav>
            </div>
            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse"
              data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
              Parents
              <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseError" data-parent="#accordionSidenavPagesMenu">
              <nav class="sidenav-menu-nested nav">
                <a class="nav-link" href="error-400.html">
                  400 Error
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="error-401.html">
                  401 Error
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="error-403.html">
                  403 Error
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="error-404-1.html">
                  404 Error 1
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="error-404-2.html">
                  404 Error 2
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="error-500.html">
                  500 Error
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="error-503.html">
                  503 Error
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="error-504.html">
                  504 Error
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
              </nav>
            </div>
            <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse"
              data-target="#pagesCollapseKnowledgeBase" aria-expanded="false"
              aria-controls="pagesCollapseKnowledgeBase">
              Knowledge Base
              <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="pagesCollapseKnowledgeBase" data-parent="#accordionSidenavPagesMenu">
              <nav class="sidenav-menu-nested nav">
                <a class="nav-link" href="knowledge-base-home-1.html">
                  Home 1
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="knowledge-base-home-2.html">
                  Home 2
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="knowledge-base-category.html">
                  Category
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
                <a class="nav-link" href="knowledge-base-article.html">
                  Article
                  <span class="badge badge-primary-soft text-primary ml-auto">New</span>
                </a>
              </nav>
            </div>
            <a class="nav-link" href="pricing.html">
              Pricing
              <span class="badge badge-primary-soft text-primary ml-auto">New</span>
            </a>
            <a class="nav-link" href="invoice.html">
              Invoice
              <span class="badge badge-primary-soft text-primary ml-auto">New</span>
            </a>
          </nav>
        </div>
        <a class="nav-link collapsed" href="javascript:void(0);" data-toggle="collapse" data-target="#collapseFlows"
          aria-expanded="false" aria-controls="collapseFlows">
          <div class="nav-link-icon"><i data-feather="repeat"></i></div>
          Library
          <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseFlows" data-parent="#accordionSidenav">
          <nav class="sidenav-menu-nested nav">
            <a class="nav-link" href="multi-tenant-select.html">Multi-Tenant Registration</a>
            <a class="nav-link" href="wizard.html">
              Wizard
              <span class="badge badge-primary-soft text-primary ml-auto">New</span>
            </a>
          </nav>
        </div>

      </div>
    </div>
    <div class="sidenav-footer">
      <div class="sidenav-footer-content">
        <div class="sidenav-footer-subtitle">Logged in as:</div>
        <div class="sidenav-footer-title">System Admin</div>
      </div>
    </div>
  </nav>
</div>